<div class="container mt-5 mb-5">
    <h1 class="text-center">About</h1>
    <div class="about-banner mt-3 mb-3">
    </div>

    <p class="mt-3 mb-3">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum expedita animi nam, mollitia ipsum odio excepturi explicabo ad quod sapiente, vitae at nobis minima dolore dicta, odit maiores rerum beatae!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem nam, cumque cum nulla maxime deleniti ipsam vel vitae architecto neque nisi eaque voluptate tempora error aliquam consequatur laudantium. Maxime, nemo.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi accusantium est sit sapiente aliquam similique sed dicta tenetur harum, nulla consequatur! Atque mollitia ratione facilis et maxime quidem ullam ab!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit officiis quae repudiandae quis earum consectetur expedita mollitia. Ea, repellat? Tenetur, possimus recusandae! Tempore eum unde quod, neque numquam quidem pariatur.
        <br/>
        
    </p>
</div>
  
   
    


    

        

       